.p1 {
    font-size: 225%;
    text-decoration: underline;
}


.ph {
    font-size: 220%;
    color: green;
}


.pm {
    font-size: 220%;
    color: DodgerBlue;
}


.pa {
    font-size: 220%;
    color: red;
}

.pd {
    font-size: 220%;
    color: grey;
}

.action {
    border: 2px solid white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(30, 30, 50, 0.9);
    font-size: 225%;
    font-weight: bold;
    height: 60%;
    width: 20%;
    text-decoration: underline;
}


.action2 {
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(30, 30, 50, 0.9);
    height: 60%;
    width: 40%;
    font-size: 220%;
    font-weight: bold;
}

.class_magic {
    display: flex;
    justify-content: space-around;
    font-size: 150% ;

}

.class_action2{
    display: flex;
    justify-content: space-around;
}


img {
    width: 50%;
    height: 100%;
}


.stat {
    background-color: ;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 130%;
    height: 55%;
}

.top {
    background-color: ;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 35%;
}

.Middle {
    display: flex;
    justify-content: space-between;
    background-color:  ;
    width: 100%;
    height: 40%;
}


.Help {
    display: flex;
    justify-content: space-between;
    border: 2px solid white;
    background-color: rgba(30, 30, 50, 0.9);
    font-size: 340%;
    font-weight: bold;
    width: 100%;
    height: 16%;
}

#help {
    font-size: 70%;
}


.space {
    display: flex;
    justify-content: space-between;
    background-color: ;
    height: 60%;
    width: 30%;
}


.monstre1 {
    display: flex;
    justify-content: space-between;
    background-color: rgba(30, 30, 50, 0);
    color: rgba(200, 100, 100, 0);
    font-size: 100%;
    background-image: url(https://cdn.lowgif.com/small/6b16311d0408e65c-.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 90%;
    width: 70%;
}

.monstre1:hover {
    border: 2px solid white;
    background-color: rgba(30, 30, 50, 0.9);
    color: rgba(250, 200, 0, 1);
    font-size: 220%;
    font-weight: bold;
}


.monstre2 {
    display: flex;
    justify-content: space-between;
    background-color: rgba(30, 30, 50, 0);
    color: rgba(200, 200, 200, 0);
    font-size: 100%;
    background-image: url(https://kemojimonstervideo.files.wordpress.com/2018/10/dinovaldo1.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 90%;
    width: 70%;
}

.monstre2:hover {
    border: 2px solid white;
    background-color: rgba(30, 30, 50, 0.9);
    color: rgba(250, 200, 0, 1);
    font-size: 220%;
    font-weight: bold;
}



.monstre3 {
    display: flex;
    justify-content: space-between;
    background-color: rgba(30, 30, 50, 0);
    color: rgba(200, 100, 100, 0);
    font-size: 100%;
    background-image: url(https://i.pinimg.com/originals/e5/73/4d/e5734d3fe9fd505f19d4352c16b9f14c.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 90%;
    width: 70%;
}


.monstre3:hover {
    border: 2px solid white;
    background-color: rgba(30, 30, 50, 0.9);
    color: rgba(250, 200, 0, 1);
    font-size: 220%;
    font-weight: bold;
}


.defense {
    border: 2px solid grey;
    display: flex;
    justify-content: space-around;
    background-color: rgba(30, 30, 50, 0.9);
    height: 100%;
    width: 50%;
}



.attack {
    border: 2px solid red;
    display: flex;
    justify-content: space-around;
    background-color: rgba(30, 30, 50, 0.9);
    height: 100%;
    width: 50%;
}


.Mana {
    border: 2px solid DodgerBlue;
    display: flex;
    justify-content: space-around;
    background-color: rgba(30, 30, 50, 0.9);
    height: 100%;
    width: 50%;
}


.health {
    border: 2px solid green;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgba(30, 30, 50, 0.9);
    height: 100%;
    width: 50%;
}


.name {
    border: 2px solid white;
    display: flex;
    justify-content: space-around;
    background-color: rgba(30, 30, 50, 0.9);
    height: 100%;
    width: 50%;
}


.titre {
    border: 2px solid darkblue;
    display: flex;
    justify-content: space-around;
    background-color: rgba(30, 30, 50, 0.9);
    height: 4%;
    width: 20%;
}




body {
    background-image: url(https://www.unesourisetmoi.info/data/medias/photos/082/pixel-art_fonds-animes_jeux-de-combat_HD_02.gif);
    #background-image: url(Fond.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
}
